[2017-05-13 16:32] jenkin opened #1 "Alcune pagine del sito da aprire su altra scheda?"
Sarei per aprire le pagine "Informati", "Partecipa" e "Blog" in altra scheda. Attualmente si aprono nella stessa scheda al click e si perde "l'orientamento". Questo perché si esce fuori dal sito. Lo trovo più agevole nella navigazione e corretto. Che ne pensate?

Originariamente postata da @giuragu

[2017-06-06 08:59] giuragu opened #2 "Pagina attività ma url "/eventi""
La pagina raggiungile da link "attività" in navbar home indirizza a url: http://ricostruzionetrasparente.it/eventi/
Modificare "eventi" in "attività"

[2017-07-10 07:46] lorenzoperone commented on #1
Buona idea

[2017-07-10 13:34] #1 closed, assigned to nobody

[2017-07-10 13:34] #2 closed, assigned to nobody

[2017-07-10 13:39] jenkin opened #3 "Homepage: /"
Da controllare e validare ([url](http://ricostruzionetrasparente.it)):

- sottotitolo
- titoletti sezioni
- descrizioni sezioni
- elementi footer

Da eventualmente modificare:

- iscrizione newsletter (embed form)

Da considerare se aggiungere:

- carosello dei loghi dei partner (nella sezione chi siamo)
- mappa dei comuni del cratere
- masonry dei post del blog (da feed di medium)

[2017-07-10 13:41] jenkin opened #4 "Il progetto: /progetto"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/progetto/)):

- descrizione

[2017-07-10 13:43] jenkin opened #5 "Cosa puoi fare: /cosa-puoi-fare"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/)):

- descrizione
- ordine sezioni
- newsletter (embed del form)

[2017-07-10 13:49] jenkin opened #6 "Chi siamo: /chi-siamo"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/chi-siamo/)):

- descrizione

Da  valutare:

- una pagina autonoma per ondata e actionaid o link diretto ai siti?
- una pagina autonoma per ogni sotto sezione (es. team e sostenitori) o tutto nella pagina chi siamo?

[2017-07-10 13:50] jenkin opened #7 "Newsletter: /newsletter"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/newsletter/)):

- titolo
- descrizione

Da fare:

- embed del form

[2017-07-10 13:51] jenkin opened #8 "Sostieni: /cosa-puoi-fare/sostieni"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/)):

- descrizione
- testo
- embed paypal

Da valutare:

- aggiungere elenco sostenitori?

[2017-07-10 13:53] jenkin opened #9 "Azioni: /progetto/azioni"
Da fare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/)):

- titolo
- descrizione
- testo
- elenco azioni (automatico usando le [API di discourse](http://partecipa.ricostruzionetrasparente.it/c/16.json) o a mano?)

[2017-07-10 13:54] jenkin opened #10 "Trasparenza e advocacy: /progetto/trasparenza"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/progetto/trasparenza/)):

- titolo
- descrizione
- testo
- elenco attività (manuale o automatico?)

[2017-07-10 13:55] jenkin opened #11 "Rassegna stampa: /progetto/rassegna-stampa"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/progetto/rassegna-stampa/)):

- descrizione
- testo
- elenco riferimenti (manuale o automatico?)

[2017-07-10 13:57] jenkin opened #12 "Storia: /progetto/storia"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/progetto/rassegna-stampa/)):

- titolo
- descrizione
- testo

Da fare:

- testo completo con la storia del progetto
- embed del video della campagna e foto
- il rapporto con TCI

Da valutare:

- inserire nella pagina anche i pensieri personali

[2017-07-10 14:00] jenkin opened #13 "Associazione ondata: /chi-siamo/associazione-ondata"
Vedi #6. Da verificare e validare ([url](http://ricostruzionetrasparente.it/chi-siamo/associazione-ondata/)):

- descrizione
- testo
- immagini

[2017-07-10 14:01] jenkin opened #14 "Actionaid italia: /chi-siamo/actionaid-italia"
Vedi #6. Da verificare e validare ([url](http://ricostruzionetrasparente.it/chi-siamo/associazione-ondata/)):

- descrizione
- testo
- immagini

[2017-07-10 14:04] jenkin opened #15 "Il team: /chi-siamo/team"
Vedi #6. Da verificare e validare ([url](http://ricostruzionetrasparente.it/chi-siamo/team/)):

- titolo
- descrizione

Da valutare:

- sezione "comitato scientifico" oppure "consiglio direttivo";
- sezione "coordinatori";
- sezione "attivisti";
- sezione "partecipanti" oppure "grazie anche al contributo di";
- sezione "amici" oppure "supporter".

[2017-07-10 14:06] jenkin opened #16 "Chi ci sostiene: /chi-siamo/sostenitori"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/)):

- titolo
- descrizione
- testo

Da valutare:

- elenco sostenitori (manuale o automatico?)

[2017-07-10 14:10] jenkin opened #17 "Partecipa: /cosa-puoi-fare/partecipa"
Da verificare e validare:

- descrizione

Da valutare:

- sezione candidature (non è chiaro il processo di assegnazione task e ricorda molto TCI);
- segnalazioni (call to action per far segnalare sono già nelle singole pagine dedicate, es. il catalogo dati, questa sarebbe una pagina di riepilogo che ricorda già molto TCI).

[2017-07-10 14:11] jenkin opened #18 "Candidature: /cosa-puoi-fare/partecipa/candidature"
Vedi #17.

[2017-07-10 14:12] jenkin opened #19 "Segnalazioni: /cosa-puoi-fare/partecipa/segnalazioni"
Vedi #17.

[2017-07-10 14:15] jenkin opened #20 "Progetti software: /cosa-puoi-fare/partecipa/progetti-software"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/progetti-software/)):

- titolo
- descrizione
- testo

Da valutare:

- elenco repository (manuale o automatico da [API di github](https://api.github.com/orgs/ricostruzionetrasparente/repos)?)
- elenco ultime issues (manuale o automatico da [API di github](https://api.github.com/repos/ricostruzionetrasparent

[2017-07-10 14:16] jenkin opened #21 "Eventi: /cosa-puoi-fare/partecipa/eventi"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/eventi/)):

- descrizione
- testo

Da valutare:

- elenco eventi (manuale o automatico?)
- suddivisione eventi (generici o a cui partecipiamo?)
- un post / pagina per ogni evento a cui partecipiamo / di cui ci raccontano?

[2017-07-10 14:19] jenkin opened #22 "Iniziative locali: /cosa-puoi-fare/partecipa/iniziative-locali"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/iniziative-locali/)):

- titolo
- descrizione
- testo

Da valutare:

- si sovrappone alla pagina eventi?
- elenco iniziative (manuale o automatico?)
- la lista viene direttamente da TCI?

[2017-07-10 14:21] jenkin opened #23 "Informati: /cosa-puoi-fare/informati"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/)):

- descrizione

Da valutare:

- aggiungere delle informazioni complessive (es. ultime news, numero complessivo documenti indicizzati, numero dataset, ecc.)

[2017-07-10 14:24] jenkin opened #24 "Approfondimenti: /cosa-puoi-fare/informati/approfondimenti"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/approfondimenti/)):

- descrizione

Da valutare:

- che oggetto è ogni approfondimento (una pagina, un post, altro)?
- indice degli approfondimenti disponibili?
- annuncio approfondimenti in lavorazione con call to action?
- call to action per suggerire un approfondimento?

[2017-07-10 14:25] jenkin opened #25 "News: /cosa-puoi-fare/informati/news/"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/news/)):

- descrizione

Da valutare:

- embed delle viz?
- cosa sono le news curate dalla redazione? Hanno a che fare con TCI?

[2017-07-10 14:28] jenkin opened #26 "Cerca: /cosa-puoi-fare/informati/cerca/"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/)):

- descrizione

Da valutare:

- segnala punta direttamente al form di TCI per la segnalazione dataset?

[2017-07-10 14:32] jenkin opened #27 "Catalogo open data: /cosa-puoi-fare/informati/cerca/catalogo-open-data/"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/)):

- descrizione
- testo
- documentazione

Da fare:

- layout motore di ricerca
- informazioni da mostrare
- filtri da esporre
- call to action "segnala un dataset"

Da valutare:

- inserimento della documentazione in pagina separata (es. /cosa-puoi-fare/informati/cerca/catalogo-o

[2017-07-10 14:33] jenkin opened #28 "Fonti monitorate: /cosa-puoi-fare/informati/cerca/fonti/"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/fonti/)):

- titolo
- descrizione
- testo
- documentazione

Da fare:

- elenco fonti monitorate
- motore di ricerca fonti
- call to action "segnala fonte"

[2017-07-10 14:38] jenkin opened #29 "Atti amministrativi: /cosa-puoi-fare/informati/cerca/atti-amministrativi/"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/atti-amministrativi/)):

- titolo
- descrizione
- testo
- documentazione

Da fare:

- layout motore di ricerca
- informazioni da mostrare
- filtri da esporre
- call to action

Da valutare:

- filtrare a priori con una chiave di ricerca tipo "terremoto"?
- cosa fare dei potenziali "dati sensibili"?

[2017-07-10 14:38] jenkin opened #30 "Amministrazioni trasparenti: /cosa-puoi-fare/informati/cerca/amministrazioni-trasparenti"
Tutto da fare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/amministrazioni-trasparenti/)).

[2017-07-10 14:39] jenkin opened #31 "Risorse esterne: /cosa-puoi-fare/informati/cerca/risorse-esterne"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/risorse-esterne/)):

- titolo
- descrizione
- testo

Da fare:

- elenco risorse
- motore di ricerca

[2017-07-10 14:41] jenkin opened #32 "Monitora: /cosa-puoi-fare/monitora"
Da verificare e validare ([url](http://ricostruzionetrasparente.it/cosa-puoi-fare/monitora/)):

- descrizione

Da valutare:

- cosa c'è in "opere"?
- cosa c'è in "richieste"?

[2017-07-10 14:41] jenkin opened #33 "Opere: /cosa-puoi-fare/monitora/opere"
Vedi #32.

[2017-07-10 14:42] jenkin opened #34 "Richieste: /cosa-puoi-fare/monitora/richieste"
Vedi #32.

[2017-07-10 14:46] jenkin opened #35 "Preview delle sezioni"
Ecco le sezioni che appaiono anche come preview (cerchio con icona, titoletto, descrizione) in altre pagine e che hanno bisogno di un'icona ad hoc e della validazione dei testi:

- azioni
- trasparenza
- rassegna stampa
- storia
- partecipa
    - progetti software
    - forum
    - eventi
    - iniziative locali
- sostieni
- informati
    - risorse esterne
    - approfondimenti
    - news

[2017-07-11 07:49] chiccap commented on #22
Io distinguerei tra:

1. Iniziative locali - eventi sul territorio (in questo caso si sovrappone alla pagina eventi)
2. Iniziative locali - associazioni e comitati sul territorio

Vi segnalo che [qui](https://docs.google.com/spreadsheets/d/1OE6hJQzwDWNaJYdMCYEqhQajwKcIfKzrZCOICCEn0jE/edit#gid=438620420) ActionAid ha cominciato a mappare comitati e associazioni delle Marche e del Lazio che si occup

[2017-07-11 14:32] dontyna opened #36 "Menù - struttura"
Le voci di menù di terzo livello non aiutano la navigazione, lasciamo solo quelle di secondo.

[2017-07-11 16:52] giuragu commented on #23
@lorenzoperone @jenkin a questo scopo, si potrebbe fare in modo che queste informazioni si aggiornino automaticamente al variare dei valori di base indicati prima (es. ultime news, numero complessivo documenti indicizzati, numero dataset, ecc.). E' possibile secondo voi?

[2017-07-11 17:02] giuragu commented on #8
aggiungere elenco sostenitori?

@jenkin si tratta di decidere se lasciare elenco in pagina [chi ci sostiene](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/) e qui lasciare solo il link che vi rimanda come è adesso. Oppure eliminare la pagina [chi ci sostiene](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/) e spostare il contenuto qui. Il secondo caso rappresenta la situazione

[2017-07-11 17:41] jenkin commented on #8
Due pagine separate, con sostieni che linka a chi ci sostiene...

[2017-07-11 17:42] jenkin commented on #23
Beh, sì, ci possiamo inventare qualcosa... :)

[2017-07-11 19:24] lorenzoperone commented on #8
Concordo con @jenkin

[2017-07-11 19:24] lorenzoperone commented on #23
Ci pensa @jenkin ;)

[2017-07-12 11:33] lorenzoperone commented on #22
MI sembra coerente, potremmo ragionare anche così: "eventi" si riferisce a qualcosa realizzato o a cui partecipa Ricostruzione Trasparente (intesa come somma di tutte le componenti ActionAid in primis), mentre le iniziative locali, che descriviamo in questa pagina, si riferiscono a iniziative, non promosse da noi, a cui diamo rilievo.
@chiccap che ne pensi?

Se la proposta vi sembra che funzioni i

[2017-07-12 11:36] lorenzoperone commented on #21
In questa pagina, se condividiamo la proposta in #22 potremmo inserire:

- data
- ora
- luogo
- descrizione delliniziativa
- organizzatore
- partecipanti
- link alla pagina dell'evento (se esiste)

@jenkin potrebbe essere carino generare un evento calendar, tu sapresti farlo dai dati in tabella?

[2017-07-12 11:39] lorenzoperone commented on #20
Potrebbe essere interessante, oltre agli elenchi, inserire i dati di attività sui singoli repo ed anche gli utenti più attivi.
Se potessimo fare qualche cosa di carino, con dei grafici, si potrebbe fare usare la pagina per rilanciare una sorta di positiva competizione tra i developer.
Perdonami @jenkin :)

[2017-07-12 11:46] lorenzoperone commented on #16
I dati da inserire sarebbero minimi:

- nome
- cognome
- tipo (persona fisica, impresa, associazione)
- data
- importo donazione
- comune di provenienza (su questo ho dei dubbi)

poi si potrebbe inserire un grafico, stile tag wall, con i nomi dimensionati sugli importi e sarebbe carina una heatmap basata su comune e importo.

[2017-07-12 11:49] lorenzoperone commented on #11
Io qui inserirei questi campi:

- data
- titolo
- url
- tag? (evento, recensione, intervista)

@jenkin possiamo chiedere a Donata di interagire qui su GitHub?

[2017-07-12 11:51] lorenzoperone commented on #10
Io inserirei questi campi:

- Descrizione dell'azione
- Soggetto a cui è indirizzata
- Soggetti coinvolti
- tag (opendata, catasto, numerazione civica, strade, schede FAST, schede AeDes)

[2017-07-12 11:56] lorenzoperone commented on #9
Riprendendo le azioni descritte su Partecipa, inserirei:

- descrizione dell'azione
- obiettivo
- soggetti coinvolti
- task (separati da ";")
- milestone (data: milestone; data: milestone;...)
- output atteso
- tag - per categorizzare le azioni

[2017-07-12 12:40] jenkin commented on #22
Hmm, io sono più per la 2): gli eventi sono tutti da una parte (poi valorizziamo quelli promossi o partecipati da noi), comitati e associazioni da un'altra. Il concetto di iniziativa locale è ambiguo, tu Lorenzo, con quello schema descrivi solo gli eventi...

[2017-07-12 12:43] jenkin commented on #11
È invitata, deve accettare l'invito...

[2017-07-12 14:10] giuragu commented on #8
Allora:

descrizione
testo
embed paypal

[url](http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/) è corretto. Validata descrizione, testo ed embed paypal. La pagina si raggiunge sia da Home che da Menu.

aggiungere elenco sostenitori?

Ho separato in due mini-sezioni:

- Dona: con indicazioni sulla donazione
- Chi ci sostiene: Con testo e link alla pagina "[Chi ci sostiene](http://ricost

[2017-07-12 14:17] lorenzoperone commented on #8
Per me va bene

[2017-07-12 14:18] giuragu commented on #12
Sull'elenco delle cose "da fare" posso unire i pezzi. Ma avrei bisogno del vostro aiuto @lorenzoperone e @dontyna  per capire "quali pezzi unire". Mi aiutate?

[2017-07-12 14:35] giuragu commented on #36
Nel menù e presente una doppia via per la pagina "Sostieni".
Un primo livello
![chi siamo ricostruzione trasparente](https://user-images.githubusercontent.com/12112056/28122843-aaa13eba-671f-11e7-9b4a-347d0594639e.png)

E un secondo livello
![sostieni 2](https://user-images.githubusercontent.com/12112056/28122967-07444c98-6720-11e7-9c33-930980d1cbf6.png)

Ne lascerei uno...il primo livello. Se cos

[2017-07-12 14:42] giuragu commented on #36
Da verificare:

- In primo livello i menu non risultano al momento quali link alle rispettive pagine: [Progetto](http://ricostruzionetrasparente.it/progetto/), [Cosa puoi fare](http://ricostruzionetrasparente.it/cosa-puoi-fare/), [chi siamo](http://ricostruzionetrasparente.it/chi-siamo/)

[2017-07-12 14:58] giuragu commented on #6
Per la [descrizione](http://ricostruzionetrasparente.it/chi-siamo/):
Sono ancora alla ricerca di un termine più consono che indichi i 200 sostenitori del crowdfunding.

Poi:

- Farei una pagina dedicata alle associazioni ondata e actionaid come risulta adesso forse è superfluo. Quindi metterei link diretto ai siti.
- Nel team invece si va a chiarire chi fa che cosa. Quindi cosa fa Ondata, cosa fa

[2017-07-12 15:06] giuragu commented on #24
Al 17 possiamo arrivare a:

- Annuncio approfondimenti in lavorazione;

Rimarrà da definire dopo quindi che oggetto sarà ogni approfondimento , l'indice degli approfondimenti, Call to action per suggerire approfondimenti

[2017-07-13 07:57] giuragu commented on #8
Direi che ci siamo. Chiudo la issue

[2017-07-13 07:57] #8 closed, assigned to giuragu

[2017-07-13 08:07] giuragu commented on #4
Ho cambiato il testo in "_Il nostro obiettivo è monitorare in tempo reale il processo di ricostruzione nelle quattro regioni del Centro Italia colpite dai terremoti di agosto e ottobre 2016 e di gennaio 2017, favorire la trasparenza e l'apertura dei dati ovunque possibile e promuovere la partecipazione attiva dei cittadini, attraverso un confronto con le pubbliche amministrazioni nazionali e local

[2017-07-13 08:09] #4 closed, assigned to giuragu

[2017-07-13 08:22] lorenzoperone commented on #12
Ho creato un doc Google ed iniziato a mettere giù alcuni elementi sulla storia del progetto,
il documento è nella cartella comunicazione di RT, il link diretto è [questo](https://docs.google.com/a/ondata.it/document/d/1X0JffOIXCMEU7FX4k9z6gQSpxX3W50kdUiMnCBBCXPg/edit?usp=sharing).

[2017-07-13 08:29] giuragu commented on #15
Titolo: Il Team
Descrizione: Il comitato scientifico, i coordinatori, gli attivisti e i partner

La sezione "Attivisti" la aggiungerei e intenderei chi ha contribuito o chi contribuisce in qualche attività.
Ho solo un dubbio nella difficoltà che vi potrebbe essere nell'aggiornare questa sezione "attivisti". Qui chiedo il tuo parere @lorenzoperone

"Partecipanti" forse è un doppione di "attivisti"?

[2017-07-13 08:52] lorenzoperone commented on #15
Ciao Giuseppe,
come attivista io inserirei chi ha contribuito con una azione seppur minima al progetto, @jenkin che ne pensi?
Attenzione che per inserire i nomi di persone fisiche dobbiamo gestire correttamente il trattamento dei dati personali, non escludo che sia necessario scrivere a tutti quelli che vogliamo inserire per chiedere esplicitamente il consenso. Per i donatori nella campagna di cro

[2017-07-13 09:20] chiccap commented on #22
Io sono d'accordo con @jenkin.
Eventi e comitati devono rimanere ben distinti. Una cosa è "segnala evento", un'altra "segnala il tuo comitato".

[2017-07-13 09:24] lorenzoperone commented on #22
OK, mi sembra più condivisa la 2), @chiccap mi vengono in mente questi elementi per descrivere le iniziative locali, correggi/integri?

- Comune
- Località
- Coordinate/Mappa
- Nome dell'iniziativa
- Associazioni coinvolte
- Data di avvio
- Attiva: SI/NO (per eventuali aggiornamenti)
- tag per descrivere il tipo di inziativa: raccolta fondi, scuole, beni culturali

[2017-07-13 09:31] chiccap commented on #22
Nome dell'iniziativa e associazioni coinvolte sono due punti equivoci.
Io sto lavorando ad una [mappa](https://drive.google.com/open?id=16QI3Yy6MobEgEDCDKsX6zQGQP7k&usp=sharing) del genere, è ancora incompleta.
Nella mia testa iniziativa locale e associazione sono la stessa cosa. Ad es. se l'iniziativa locale si chiama "Arquata Futura" le associazioni coinvolte sono...solo Arquata Futura. Diverso

[2017-07-13 09:36] lorenzoperone commented on #22
OK @chiccap ora mi è più chiaro, gli elementi della tabella che alimenta la pagina sono, indicativamente:

- Comune
- Località
- Coordinate/Mappa
- Nome dell'iniziativa
- Data di avvio
- Attiva: SI/NO (per eventuali aggiornamenti)
- sito web
- pagina fb
- contatti
- tag per descrivere il tipo di inziativa: raccolta fondi, scuole, beni culturali, donne

[2017-07-13 09:37] chiccap commented on #22
Per me perfetto così! :1st_place_medal:

[2017-07-13 14:52] dontyna commented on #15
I donatori li chiamerei "Sostenitori", ma come dice Lorenzo per scrivere i loro nomi forse serve il permesso.

[2017-07-13 15:59] giuragu commented on #27
Creata pagina separata per documentazione. ora il link Documentazione del [catalogo](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/) apre [questa nuova pagina](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/documentazione/)

[2017-07-14 08:03] jenkin commented on #36
Per me è indifferente, decidete, applicate le modifiche del caso e risolvete la issue... :) Il primo livello del menù non è linkato perché il click apre il menù, il che è mobile friendly... credo vada comunque bene così...

[2017-07-14 08:05] jenkin commented on #15
Usiamo solo i nomi di battesimo e buonanotte...

[2017-07-14 08:16] giuragu commented on #36
ok Alessio. @dontyna per secondo livello intendiamo solo ad esempio fino a "Partecipa", "Informati" su cui quindi si cliccherebbe ma non ci sarebbe più freccia a destra giusto?

[2017-07-14 10:03] jenkin commented on #26
Su suggerimento di Claudia, cambierei la struttura di informati:

- sposterei cerca sotto monitora
- toglierei da cerca la voce "risorse esterne"
- metterei "risorse esterne" sotto "informati"

Eliminerei da cerca anche segnala, aggiungendo un link al form di segnalazione di un nuovo dataset direttamente nelle pagine di "atti amministrativi" e "catalogo".

[2017-07-14 10:31] jenkin commented on #9
Temo sia difficile automatizzare il tutto usando le API di Discourse, che per una categoria ritornano solo i [titoli dei topic](http://partecipa.ricostruzionetrasparente.it/c/16.json). L'alternativa più semplice è tenere aggiornato a mano un foglio google con tutte le informazioni rilevanti.

[2017-07-14 10:34] jenkin commented on #17
Per ora eliminerei "candidature" e "segnalazioni": la prima sezione non ci è chiara, mentre per la seconda vale il [commento](https://github.com/RicostruzioneTrasparente/website/issues/26#issuecomment-315322602) a #26 .

[2017-07-16 17:46] lorenzoperone commented on #9
OK, inserisco anche questo appena compilo il foglio (lunedì)

[2017-07-17 08:14] giuragu commented on #6
Adesso ondata e action aid non hanno più pagina dedicata. Sia in menu che in home page si rimanda direttamente ai relativi siti.

[2017-07-17 08:15] giuragu commented on #14
La pagina dedicata viene cestinata e sostituita con link diretto al sito. Vedi #6

[2017-07-17 08:15] #14 closed, assigned to giuragu

[2017-07-17 08:16] giuragu commented on #13
La pagina dedicata viene cestinata e sostituita con link diretto al sito. Vedi #6

[2017-07-17 08:16] #13 closed, assigned to giuragu

[2017-07-17 08:21] giuragu commented on #6
Si mantiene la distinzione tra pagina Team e Sostenitori. Si veda #16 e #15 per le relative issues.

[2017-07-17 08:21] #6 closed, assigned to giuragu

[2017-07-17 08:45] giuragu commented on #12
Inserire i pensieri personali nella pagina credo "allungherebbe" troppo la navigazione della pagina. Al momento manterrei pagina apposita.

[2017-07-17 09:06] giuragu commented on #24
Oggi riusciamo a presentare l'annuncio in [questo modo](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/approfondimenti/) abbastanza semplice.
@jenkin la call to action riusciamo ad implementarla o rimandiamo a dopo?

[2017-07-17 10:49] jenkin commented on #36
Sì, esatto...

[2017-07-17 10:50] jenkin commented on #31
Da spostare in informati...

[2017-07-17 10:51] jenkin commented on #33
Per il momento sarà una sezione nascosta...

[2017-07-17 10:52] jenkin commented on #34
Basata sul foglio "richieste foia"...

[2017-07-17 10:53] jenkin commented on #30
Per ora sezione nascosta...

[2017-07-17 10:54] jenkin commented on #28
Basata sul foglio "fonti" (comuni del cratere più altro?)...

[2017-07-17 10:55] jenkin commented on #26
Da spostare sotto monitora...

[2017-07-17 10:56] jenkin commented on #21
Lo faremo, per ora sarà un'agenda ricercabile...

[2017-07-17 10:59] jenkin commented on #20
C'è già una [pagina di analytics dei repository](https://github.com/RicostruzioneTrasparente/albopop-facet-search/graphs/contributors), ma hai ragione, possiamo integrare nella viz alcune informazioni ulteriori che ci vengono dalle api...

[2017-07-17 10:59] jenkin commented on #19
Da nascondere...

[2017-07-17 11:00] jenkin commented on #18
Da nascondere...

[2017-07-17 11:01] jenkin commented on #15
Usiamo il custom content type "staff"...

[2017-07-17 11:02] jenkin commented on #12
I racconti li metterei nei custom content type "testimonials", quindi sarebbero visibili integralmente in proprie pagine autonome... ma in "storia" sarebbero visibili come anteprime (es. foto, nome, excerpt)...

[2017-07-17 11:03] jenkin commented on #11
Basata sul foglio "rassegna stampa"...

[2017-07-17 11:03] jenkin commented on #10
Basata sul foglio "trasparenza"...

[2017-07-17 11:04] jenkin commented on #9
Basata sul foglio "azioni"...

[2017-07-17 11:08] jenkin commented on #7
Userei questo: https://it.wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/

[2017-07-17 13:47] giuragu commented on #36
ok. Procedo alla ridefinizione della struttura del menu in questo senso ed alla eliminazione del menu principale del secondo livello "sostieni" per lasciare solo il primo livello come da immagine
![chi siamo ricostruzione trasparente](https://user-images.githubusercontent.com/12112056/28122843-aaa13eba-671f-11e7-9b4a-347d0594639e.png)

Con aggiunta di sezione Sostieni in home

[2017-07-17 14:04] giuragu commented on #36
Apportate tutte le modifiche. Chiudo la issue

[2017-07-17 14:04] #36 closed, assigned to giuragu

[2017-07-17 14:09] giuragu commented on #12
A ok. Ottima soluzione. Per me puoi tranquillamente attuarla

[2017-07-17 14:13] lorenzoperone commented on #22
@chiccap a questo [indirizzo](https://docs.google.com/a/ondata.it/spreadsheets/d/1S7Pe8oOsrtoRpV3665Y7YHc_gRQjCqBGlGIAbkk4rPU/edit?usp=sharing) trovi un foglio di calcolo google **iniziative-locali**, mi farebbe piacere che tu lo provassi.
Le colonne con lo sfondo grigio si "dovrebbero" popolare automaticamente inserendo:

- data dell'inserimento
- codice ISTAT della località
- coordinate della lo

[2017-07-17 14:16] lorenzoperone commented on #34
@jenkin un foglio c'è già o è da definire?
Mi baso su foiapop?

[2017-07-17 14:19] lorenzoperone commented on #28
lo pensavi come un elenco delle fonti scrapate?
Attualmente come "fonti" possiamo definire:

- url oggetto di scraping, indichiamo l'url originale o l'url di AlboPOP?
- fonti di dati "istituzionali" che alimentavano il flusso che avevamo pubblicato
- fonti dati "giornalistiche"  che alimentavano il flusso che avevamo pubblicato

vanno comprese tutte?

[2017-07-17 14:32] lorenzoperone commented on #21
ho creato il foglio corrispondente nel google spreadsheet

[2017-07-17 15:01] lorenzoperone commented on #16
inserito foglio corrispondente

[2017-07-17 15:02] lorenzoperone commented on #11
@dontyna hai note?

[2017-07-17 15:19] jenkin commented on #34
Se non abbiamo mai fatto richieste di accesso agli atti, è tutto da definire... possiamo per ora nascondere questa sezione (ma prevedi un foglio)...

[2017-07-17 15:19] jenkin commented on #28
Per ora mettiamo i comuni del cratere, poi in caso aggiungiamo altro...

[2017-07-17 16:21] jenkin commented on #35
Icone aggiornate

[2017-07-17 16:47] giuragu commented on #7
Ma perché non vedo "plugin" nella barra laterale? così da installarlo @jenkin?

[2017-07-17 16:53] giuragu commented on #36
In home avevo aggiunto una sezione con pulsante "Sostieni" in basso sotto newsletter e prima di contatti. Non la vedo più. @jenkin hai tolto tu?

[2017-07-18 07:45] jenkin commented on #7
@giuragu installato!

[2017-07-18 07:47] jenkin commented on #36
Hmm, no, non ho toccato nulla in home... verifico le versioni...

[2017-07-18 07:51] jenkin commented on #36
Fatto, mettendo newsletter e sostieni entrambe in verde...

[2017-07-18 08:35] #3 closed, assigned to jenkin

[2017-07-18 08:36] jenkin commented on #3
Aggiunto il carosello dei partner...

[2017-07-18 08:37] giuragu commented on #7
Grazie. Embed del form effettuato. Ora si trova alla pagina http://ricostruzionetrasparente.it/newsletter/ raggiungibile da menu.
Rimane da correggere link da homepage

[2017-07-18 08:41] giuragu commented on #7
Corretto link in home page

[2017-07-18 08:41] #7 closed, assigned to giuragu

[2017-07-18 09:30] lorenzoperone commented on #11
Caricato tutto quanto disponibile con verifica del link, inserimento di data, testata e tag

[2017-07-18 09:31] lorenzoperone commented on #16
caricati tutti i dati del crowdfunding

[2017-07-18 09:31] lorenzoperone commented on #22
caricati dati di test

[2017-07-18 09:55] jenkin commented on #11
Ok, a quanto pare però non riesco a caricare il singolo foglio da un file con fogli multipli... Se copio il contenuto di quel foglio in un file a parte funziona. Boh, se non riusciamo a sistemare separiamo le tabelle in file indipendenti.

[2017-07-18 10:00] lorenzoperone commented on #11
Oltre all'ID del foglio hai impostato anche il name?
Vedi https://gist.github.com/lorenzoperone/48fcf1ac5459e593b274a9766a47bab1

[2017-07-18 10:49] giuragu commented on #36
ok perfetto. Grazie

[2017-07-18 12:23] lorenzoperone commented on #9
creata tabella caricando gli elementi essenziali delle azioni da Partecipa

[2017-07-18 12:38] lorenzoperone commented on #31
quindi non è da fare? faccio solo informati?

[2017-07-18 13:35] lorenzoperone commented on #28
fatto foglio con fonti attualmente monitorate: fonte feed rss SemplicePA

[2017-07-18 13:52] jenkin commented on #31
Questa è pensata come una lista di siti utili, non necessariamente monitorate (es. pagine della prociv), se non ce l'abbiamo per ora spegnamo...

[2017-07-19 07:47] chiccap commented on #22
@lorenzoperone provato! sembra funzioni!

[2017-07-19 09:21] lorenzoperone commented on #31
completata la tabella, io la pagina la pubblicherei, è gran parte di quello che dobbiamo ancora scrapare

[2017-07-20 06:46] lorenzoperone opened #37 "Larghezza primo menù da ampliare"
Termina, al pelo, con la Y di advocacy.
![schermata 2017-07-20 alle 08 43 40 2](https://user-images.githubusercontent.com/5204799/28404033-d0bb89ee-6d27-11e7-9ec1-5032773cf8e3.png)

[2017-07-20 06:51] lorenzoperone commented on #16
@jenkin I dati utilizzati non sono corretti, quelli da utilizzare sono quelli nel foglio che alimenta le pagine al tab "sostenitori", come gold donor va inserita anche Wikimedia Italia

[2017-07-20 07:06] lorenzoperone commented on #10
Per le pagine generate dal Google Spreadsheet ci servirebbe poter gestire un minimo di formattazione, almeno per andare a capo e rendere più leggibile il testo.
Immagino la soluzione più semplice sia usare un carattere specifico, ad esempio "§"

[2017-07-20 07:50] giuragu commented on #16
@lorenzoperone io mi occupo di inserire Wikimedia Italia come gold donor citato con Action Aid e Banca Etica in [sostenitori](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/) e [sostieni](http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/). Ok?

[2017-07-20 08:06] giuragu commented on #15
Ok i partner, coordinatori e comitato scientifico.
I sostenitori non vanno qui ma in pagina "[Chi ci sostiene](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/)". Quindi ok.
@jenkin se mi dai ok chiudo la issue dopo aver scelto cosa fare della sezione Attivisti. Possiamo rimandare a dopo visto che ancora non sappiamo bene come riempire questa sezione.

[2017-07-20 08:09] giuragu commented on #24
Ok. testo e descrizione validata.

[2017-07-20 08:09] #24 closed, assigned to giuragu

[2017-07-20 08:34] lorenzoperone commented on #16
Perfetto!

[2017-07-20 09:10] giuragu commented on #27
Ho sistemato alcuni errori nella fonte del [catalogo](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/) (es.: errori di battitura).

- descrizione: ok
- testo: ok
- documentazione: ok. In [pagina separata](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/documentazione/)
- layout: ok
- motore di ricerca: ok
- informazioni da

[2017-07-20 09:19] giuragu commented on #16
inserita Wikimedia Italia come gold donor citato con Action Aid e Banca Etica in [sostenitori](http://ricostruzionetrasparente.it/chi-siamo/sostenitori/) e [sostieni](http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/).

[2017-07-20 10:15] giuragu commented on #12
Ho inserito il nuovo testo.
Testimonials ok
Issue da chiudere a meno di ulteriori suggerimenti

[2017-07-20 11:08] giuragu commented on #10
Noto che risulta presente solo una delle varie azioni prima elencate

[2017-07-20 11:09] giuragu commented on #11
Si potrebbe avere un ordine dal più recente in alto al meno recente in basso?

[2017-07-20 11:29] lorenzoperone commented on #10
c'è da qualche parte l'elenco pubblicato prima?

Lorenzo Perone
Medium: https://medium.com/@lorenzo_perone
Twitter: @lorenzo_perone <https://twitter.com/lorenzo_perone>
Photoblog: http://immagini.me

Il giorno 20 luglio 2017 13:08, Giuseppe Ragusa <notifications@github.com>
ha scritto:

[2017-07-20 11:58] lorenzoperone commented on #11
ho riordinato la tabella ma non sembra avere effetto...

Lorenzo Perone
Medium: https://medium.com/@lorenzo_perone
Twitter: @lorenzo_perone <https://twitter.com/lorenzo_perone>
Photoblog: http://immagini.me

Il giorno 20 luglio 2017 13:09, Giuseppe Ragusa <notifications@github.com>
ha scritto:

[2017-07-20 14:00] giuragu commented on #10
Inserite (me ne mancano due ma ho qualche dubbio sull'opportunità di inserirle) ho anche previsto una colonna sul soggetto su cui si fa advocacy. Dovrebbe essere però inserita in html

[2017-07-20 14:15] dontyna commented on #15
Vorrei proporre un cambiamento per la descrizione in homepage di Action Aid. Messa così sotto il chi siamo, con il claim "Realizza il cambiamento" non fa capire quale sia stato il loro contributo. Meglio una frase che faccia comprendere il ruolo. Così anche l'accesso da menù, fa un po' strano che una voce da menù vada a finire su un sito esterno. Propongo che da menù "Chi siamo" si acceda  a una p

[2017-07-20 14:37] giuragu commented on #15
@dontyna quindi una pagina dedicata per ognuna dove viene brevemente descritta l'associazione e il suo ruolo nel progetto?
Se si sarebbero solo da riattivare perché c'erano. Ci penso io.
Mi aiuti ad esprimere però il ruolo di ognuno in modo breve e chiaro?

[2017-07-20 14:38] dontyna opened #38 "Guida"
http://informati.ricostruzionetrasparente.it/guida.html

cambiare " In questo momento questo servizio" con "Al momento questo servizio"
@giuragu

[2017-07-20 14:40] dontyna commented on #25
@jenkin si possono mettere al centro le due pallotte? :) http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/news/

[2017-07-20 14:43] dontyna opened #39 "Typo Pagina Azioni"
http://ricostruzionetrasparente.it/progetto/azioni/

- l sito ufficiale del progetto ha due ruoli cruciali = Il sito ufficiale del progetto ha due ruoli cruciali
- Il monitoraggio di queste fonti avviene a partire da una loro anagrafica**1** (è rimasto da discourse)

@jenkin

[2017-07-20 14:51] dontyna opened #40 "Pagina Team"
È rimasto _I am text block. Click edit button to change this text._ sopra Comitato Scientifico.
@giuragu

[2017-07-20 14:52] dontyna commented on #15
@giuragu sì, abbiamo un testo di partenza?

[2017-07-20 14:53] dontyna commented on #12
@giuragu Testimonial :) le parole inglesi non al plurale

[2017-07-20 14:58] giuragu commented on #15
Si, direi:

Ondata ha ideato, coordina e promuove il progetto.

Action Aid è gold donor con un contributo pari a € 5000 e contribuisce tramite attività di divulgazione sul territorio e attivazione delle comunità (informazione, partecipazione e monitoraggio)

[2017-07-20 15:10] dontyna commented on #12
@jenkin lo slideshow con le storie non ha una buona user experience, cambiano mentre si legge. (in generale gli slideshow non sono una buona idea). Non potrebbero diventare dei post del blog con tag testimonianze, che inseriamo nella pagina della storia?

[2017-07-20 15:14] dontyna commented on #34
@jenkin la pagina monitora, a parte una breve descrizione, porta alla pagina "Cerca". Non possiamo farla diventare una pagina unica? Aggiungendo a 'Cerca' il testo che c'è su 'Monitora'?

[2017-07-20 15:15] dontyna opened #41 "Typo Eventi"
È rimasto il testo _I am text block. Click edit button to change this text_.

[2017-07-20 15:22] jenkin commented on #15
Facciamo così:

- in home lasciamo così, possiamo modificare leggermente il testo sotto il logo nella palla
- il footer rimane così, al massimo possiamo inserire i loghi al posto del semplice testo
- eliminiamo le voci di menù per le due associazioni
- nel team mettiamo in testa i due loghi con la spiegazione del ruolo, prima del comitato scientifico
- in chi ci sostiene mettiamo in testa i Gold d

[2017-07-20 15:34] giuragu commented on #25
@dontyna fatto io :)

[2017-07-20 15:37] giuragu commented on #41
Ok. Eliminato "il testo I am text block. Click edit button to change this text." C'era anche un refuso. Il catalogo eventi era denominato "Azioni" ora modificato in "Eventi" @dontyna
Si può chiudere la issue secondo me

[2017-07-20 15:59] giuragu commented on #40
Ok. eliminato  I am text block. Click edit button to change this text. sopra Comitato Scientifico.

[2017-07-20 15:59] #40 closed, assigned to dontyna, giuragu

[2017-07-20 16:12] giuragu commented on #21
Corretta data dell'evento "Recuperare il valore del territorio dopo il sisma" che riportava 31/07/2017 ora è 26/01/2017 come da post sul blog

[2017-07-20 16:19] giuragu commented on #21
Aggiunto filtro e campo "Azione su" che indica il soggetto sul quale si svolge l'azione (es.: ANAS, Comuni, ecc...)

[2017-07-20 18:48] #41 closed, assigned to dontyna, giuragu

[2017-07-21 07:04] giuragu commented on #38
fatto

[2017-07-21 07:04] #38 closed, assigned to dontyna

[2017-07-21 08:55] #21 closed, assigned to jenkin, lorenzoperone

[2017-07-21 08:57] jenkin commented on #39
Questi testi non sono nelle pagine del sito, ma nel foglio condiviso che fa da base dati per le pagine... :)

[2017-07-21 08:57] #39 closed, assigned to jenkin

[2017-07-21 09:01] #35 closed, assigned to jenkin

[2017-07-21 09:02] jenkin commented on #34
Un domani in monitora ci saranno altre sotto sezioni, che al momento sono in bozza...

[2017-07-21 09:02] #34 closed, assigned to jenkin, lorenzoperone

[2017-07-21 09:03] #33 closed, assigned to jenkin

[2017-07-21 09:03] #32 closed, assigned to jenkin

[2017-07-21 09:06] #31 closed, assigned to jenkin

[2017-07-21 09:07] #30 closed, assigned to jenkin

[2017-07-21 09:08] jenkin commented on #29
Permane un relativamente grosso problema di privacy: questi documenti che indicizziamo sono pieni di nomi e cognomi... :)

[2017-07-21 09:14] lorenzoperone commented on #29
Su questo è importante avere un parere legale, magari da acquisire per Open Tender

[2017-07-21 10:42] lorenzoperone commented on #27
Ho semplificato la pagina di documentazione per renderla un poco più user-friendly :)
Ciao naturalmente non modifica il nostro flusso interno, ma cerca di spiegarlo in modo più "leggero".

[2017-07-21 10:45] lorenzoperone commented on #27
@jenkin un problema potrebbe essere quello dei bad link, c'è un modo di inserire un'icona che segnala se il link è attivo?

[2017-07-21 10:47] lorenzoperone commented on #27
@giuragu per il momento renderei invisibile la pagina di documentazione del catalogo dato che attualmente non pubblichiamo i dati "normalizzati"

[2017-07-21 10:49] lorenzoperone commented on #27
Nel catalogo, come è ora non si capisce quali dati sono ufficiali e quali sono elaborati da noi.

[2017-07-21 12:40] chiccap commented on #10
“cosa stiamo facendo per costruire la trasparenza” - mi sembra un titolo poco da pagina web, magari più un sottotitolo una volta che si è approdati alla pagina; come titolo pagina per la navigazione metterei semplicemente “ADVOCACY”.

Inoltre, tutti paragrafi separati sembrano iniziative disgiunte. Fare una road map delle richieste non sarebbe una cosa carina? Senza distinguere chi è stato promoto

[2017-07-21 12:44] chiccap commented on #32
Metterei due righe che spiegano cos’è il monitoraggio civico.

[2017-07-21 12:51] chiccap commented on #12
Miei suggerimenti:
- Il Rapporto con TCI - cambiare in La Collaborazione con TCI
- Mettere il link a terremotocentroitalia
- Metterei STORIA in CHI SIAMO
- Qui manca all’inizio del paragrafo -che attualmente inizia con la frase: “RicostruzioneTrasparente.it è promosso da onData, Associazione di promozione sociale per la trasparenza e la diffusione della cultura dei dati.-  ...sostenuto e promosso

[2017-07-21 13:00] chiccap opened #42 "Eventi: /abbiamo partecipato a/"
Sarebbe possibile mettere tutto in una linea temporale anche a livello grafico? @jenkin @lorenzoperone

[2017-07-21 13:21] chiccap opened #43 "AZIONI/TRASPARENZA/ADVOCACY"
Hanno tutte solo la visualizzazione e la possibilità di interazione solo tramite una stringa Cerca/Filtra. Metterei, a titolo di esempio, alcune delle azioni svolte, oltre alla semplice ricerca. Oppure dentro la stringa ricerca prevedere un menù a tendina? Per evitare spaesamento una volta che si arriva nella pagina.
@jenkin @lorenzoperone

[2017-07-21 13:30] chiccap commented on #43
Inoltre: per quanto riguarda AZIONI e ADVOCACY, non sarebbe più immediato mettere tutto in un semplice COSA FACCIAMO?

[2017-07-21 15:45] chiccap commented on #16
Si può migliorare la visualizzazione dell'elenco sostenitori un po' meno “tabella excel”?
Nella frase “Due i gold donor: Banca Etica,  ActionAid, Wikimedia Italia.” c’è un refuso... non sono tre?

[2017-07-21 15:48] chiccap commented on #22
Si può creare sistema per integrazione mappatura da parte degli utenti?

[Qui](https://docs.google.com/spreadsheets/d/1oT9ldGUDZnQmSlzYFJE49bj0pQcXWqtu6IuCzhSAaeM/edit?usp=sharing) mappatura comitati e associazioni terminata e ripulita dei dati sensibili. Proviamo inserimento massivo? Una volta caricata inseriamo "powered by ActionAid Italia".

[2017-07-21 16:06] chiccap commented on #9
“tasks/milestones” - si potrebbero sostituire con termini italiani?

[2017-07-21 16:09] chiccap commented on #24
“Approfondimenti Focus verticali su tematiche di interesse” più semplice una dicitura tipo “Focus Tematici”?
@jenkin

[2017-07-21 16:11] chiccap commented on #27
Rendere il sito un pochino più abbordabile anche ai non addetti ai lavori (se coerente con obiettivo del sito), sia dal punto di vista del linguaggio sia dal punto di vista delle informazioni contenute:
Da qualche parte si potrebbe fare una sezione un po' più informativa/educativa sul che cosa sono gli opendata?

[2017-07-24 08:15] jenkin commented on #42
Anche un calendario... ma più avanti...

[2017-07-24 08:20] #37 closed, assigned to jenkin

[2017-07-24 08:21] #29 closed, assigned to jenkin

[2017-07-24 08:22] #28 closed, assigned to jenkin, lorenzoperone

[2017-07-24 08:31] #26 closed, assigned to nobody

[2017-07-24 08:31] #25 closed, assigned to jenkin

[2017-07-24 08:32] #23 closed, assigned to nobody

[2017-07-24 08:33] jenkin commented on #22
@lorenzoperone va aggiornata la base dati rispetto a quella originale...

[2017-07-24 08:33] #20 closed, assigned to jenkin, lorenzoperone

[2017-07-24 08:34] #19 closed, assigned to jenkin

[2017-07-24 08:34] #18 closed, assigned to jenkin

[2017-07-24 08:34] #17 closed, assigned to jenkin

[2017-07-24 09:53] jenkin commented on #16
Ho iniziato a inserire i nomi della tabella come elementi di "staff", ne mancano una metà... @lorenzoperone riesci a completare tu?

[2017-07-24 10:00] lorenzoperone commented on #22
procedo

[2017-07-24 10:42] jenkin commented on #12
Ho tolto lo slideshow come suggerito da @dontyna , per ora le testimonianze sono una sotto l'altra. Ho apportato le modifiche suggerite da @chiccap , ma ho lasciato storia sotto progetto, spostarla richiede una discussione più approfondita...

[2017-07-24 10:42] #12 closed, assigned to jenkin, giuragu

[2017-07-24 10:46] #5 closed, assigned to jenkin

[2017-07-24 10:48] #9 closed, assigned to jenkin, lorenzoperone

[2017-07-24 10:49] #10 closed, assigned to jenkin, lorenzoperone

[2017-07-24 10:51] #11 closed, assigned to jenkin, lorenzoperone

[2017-07-24 11:20] lorenzoperone commented on #16
Appena sistemato iniziative procedo, hai un documento con in mancanti?

[2017-07-24 12:09] lorenzoperone commented on #22
@chiccap ho inserito i dati dal tuo foglio di calcolo e fatto alcune piccole modifiche alla nostra struttura per renderla coerente.

@chiccap ti chiederei di controllare se l'import dei dati ti sembra corretto, se lo è d'ora in poi sarebbe molto comodo che tu inserissi direttamente i dati in questo foglio.

@jenkin dovresti modificare la struttura della pagina web sulla base del nuovo foglio, potr

[2017-07-24 12:12] lorenzoperone commented on #43
@chiccap sono cose da mettere a punto, per il lancio del sito non riusciamo, ma teniamo aperta la issue per modificare appena possibile

[2017-07-24 12:13] lorenzoperone commented on #27
@chiccap sono cose da mettere a punto, per il lancio del sito non riusciamo, ma teniamo aperta la issue per modificare appena possibile

[2017-07-24 12:33] lorenzoperone commented on #16
@jenkin ho ragionato un po con @dontyna su questa cosa, nei pulsanti per le [donazioni](https://www.produzionidalbasso.com/project/ricostruzione-trasparente/) avevamo scritto esplicitamente che i nomi sarebbero stati pubblicati, quindi filtrando le donazioni nel foglio di calcolo creato per le pagine dinamiche del sito i dati ci sarebbero già. L'idea di inserire dei profili con una icona "standard

[2017-07-24 13:36] jenkin commented on #16
La "tag wall" non è fattibile ora, quindi decidete voi come fare nel frattempo... :) Le immagini possono essere nascoste con una semplice regola css, per cui si vedrebbero solo i nomi in una grid ordinata. La suddivisione per "ricompensa" c'è già, in sezioni separate.

![rt-esempio-sostenitori-no-profile](https://user-images.githubusercontent.com/426495/28525820-ccc18418-7085-11e7-9686-a3c2bcc04a8

[2017-07-24 13:39] lorenzoperone commented on #16
Quindi posso inserire nomi e cognomi e via?
Conviene mantenere questa modalità visto che li devo comunque ri-editare tutti?
Una porzione di pagina basata sul foglio Google no?

[2017-07-24 15:32] giuragu commented on #27
@lorenzoperone ho visto che hai inserito il link ad una definizione di Open Data come chiedeva @chiccap. La documentazione (grazie per averlo resa più user-friendly), è ancora visibile da link sul testo introduttivo. Confermi l'idea di nasconderlo?

[2017-07-24 15:47] giuragu commented on #27
@lorenzoperone

ho inserito una riga per dataset: Contenuto dataset (Risorsa originaria oppure Elaborazione Ricostruzione Trasparente). Ora è [così](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/)

[2017-07-25 08:25] lorenzoperone commented on #27
@giuragu secondo me ora va bene, lascerei anche il link alla documentazione visto che alcuni dati sono elaborati da noi

[2017-07-25 08:25] #27 closed, assigned to jenkin, giuragu

[2017-07-25 08:26] lorenzoperone commented on #27
Chiudo questa issue e ne apro una nuova per l'ulteriore sviluppo e miglioramento del catalogo

[2017-07-25 08:27] lorenzoperone opened #44 "/cosa-puoi-fare/informati/cerca/catalogo-open-data/"
Rendere il sito un pochino più abbordabile anche ai non addetti ai lavori (se coerente con obiettivo del sito), sia dal punto di vista del linguaggio sia dal punto di vista delle informazioni contenute:
Da qualche parte si potrebbe fare una sezione un po' più informativa/educativa sul che cosa sono gli opendata?
cc @chiccap

[2017-07-25 12:22] lorenzoperone commented on #16
@jenkin ho completato l'inserimento, puoi fare le ultime modifiche al css della pagina e verificare che sia a posto?

[2017-07-25 12:39] lorenzoperone commented on #15
@jenkin puoi inserire Collaboratori al posto di Attivisti? Ho già inserito Cristina Galasso e Davide Gamba

[2017-07-25 12:41] lorenzoperone commented on #15
si possono abbassare i punti che si sovrappongono all'immagine?
![schermata 2017-07-25 alle 14 40 28](https://user-images.githubusercontent.com/5204799/28572428-4eff6a28-7147-11e7-8814-6692d1b58b43.png)

[2017-07-26 10:08] jenkin commented on #16
Fatto, eliminando anche la sezione "supporter" che ho visto ora è vuota...

[2017-07-26 10:08] #16 closed, assigned to jenkin, lorenzoperone

[2017-07-26 10:16] #15 closed, assigned to jenkin, giuragu

[2017-07-26 13:39] giuragu opened #45 "Home: pulsanti ondata e action aid"
A questo punto toglierei  pulsanti Actionm Aid e Ondata nella One page sezione Chi siamo. Visto che poi si trovano in team.
Che dite?

[2017-07-27 07:18] lorenzoperone commented on #45
Ciao Giuseppe,
vista la revisione di Actionaid io lascerei tutto come revisionato da loro…

Lorenzo Perone
photoblog: immagini.me <http://immagini.me/>
website: medium.com/@lorenzo_perone <https://medium.com/@lorenzo_perone>
Io sostengo Ricostruzione Trasparente <http://ricostruzionetrasparente.it/>

[2017-07-27 07:21] lorenzoperone opened #46 "Buon compleanno Alessio!!!!!!!"
Volevo farti gli auguri per telefono ma visto che non mi rispondi.... :)
cc @aborruso @giuragu @dontyna @nelsonmau

[2017-07-27 07:22] giuragu commented on #45
ok Lorenzo. Chiudo Issue

[2017-07-27 07:22] #45 closed, assigned to nobody

[2017-07-27 07:22] giuragu commented on #46
Auguri Alessio detto @jenkin!!!

[2017-07-27 12:41] chiccap commented on #22
@lorenzoperone l'inserimento mi sembra corretto. dove lo trovo il foglio di calcolo?

[2017-07-27 12:41] chiccap commented on #46
Auguri :)

[2017-07-27 12:43] lorenzoperone commented on #22
@chiccap lo trovi a [questo](https://docs.google.com/a/ondata.it/spreadsheets/d/1S7Pe8oOsrtoRpV3665Y7YHc_gRQjCqBGlGIAbkk4rPU/edit?usp=sharing) indirizzo, il foglio si chiama **iniziative-locali** se modifichi il foglio cambia la pagina del sito

[2017-07-27 12:52] chiccap commented on #43
- progetto-azioni: non metterei il dettaglio con lo split come da source excel ma solo una sintesi delle stesse con il narrativo
- perchè AZIONI sono divise da TRASPARENZA? Di fatto alcune azioni sono di advocacy (mi pare che allunghi inutilmente il menu di conoscenza generale del progetto)

[2017-07-27 12:54] chiccap opened #47 "/cosa-puoi-fare/monitora/"
Questo mi pare un livello intermedio tra monitora e le altre 3 voci del menu non utile. Farei direttamente aprire la pagina di MONITORA in questa http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/

[2017-07-27 12:57] lorenzoperone commented on #22
Ciao Chiara,
direi di si, la cosa più semplice è un Google form con una struttura simile a iniziative-locali, quando viene compilato il form arriva una notifica, l’iniziativa viene “validata” e se si decide di inserirla si copia la riga nella tabella a cui punta il sito.
Che ne pensi?

_Sent from my Google Nexus 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)

[2017-07-27 15:09] chiccap commented on #22
Mi sembra ottimo!

[2017-07-28 07:54] jenkin commented on #46
Ahahah, grazie a tutti!

[2017-07-28 07:54] #46 closed, assigned to jenkin

[2017-07-29 06:36] nelsonmau opened #48 "Messo video crowdfunding in pagina "Sostieni""
qui http://ricostruzionetrasparente.it/cosa-puoi-fare/sostieni/

così è più umana :-)

[2017-07-29 06:42] nelsonmau opened #49 "Item albi pretori"
- pulire il titolo
- formattare in italiano la data
- aggiungere il nome della pubblica amministrazione di riferimento per ogni item

allego immagine

![trasparico_item](https://user-images.githubusercontent.com/1769578/28742795-c80885ae-7439-11e7-933b-3398c6314380.png)

[2017-07-29 06:43] nelsonmau opened #50 "Url univoci per search in albi pretori"
oggi posso cercare e filtrare gli item

è possibile associare url unici a questa azione?

@jenkin

[2017-07-29 06:43] nelsonmau commented on #42
l'ordinamento è ascendente, va messo discendente (ultimo evento in cima alla lista)

[2017-07-29 06:45] nelsonmau opened #51 "Logo navbar: eliminare zoom in e zoom out on scroll"
è terribile

lasciamo solo la versione small del logo

[2017-07-31 10:04] lorenzoperone opened #52 "Cambiare colore menù a tendina"
![image](https://user-images.githubusercontent.com/5204799/28773042-547d9614-75e8-11e7-89ec-e05f84a4c149.png)

[2017-08-16 20:19] cristigalas opened #53 "Aggiungere news su Ricostruzione di Agi Italia"
@nelsonmau @lorenzoperone Già da qualche tempo l'agenzia Agi Italia sta pubblicando notizie su terremoto e ricostruzione e proprio [oggi ha annunciato](https://www.agi.it/blog-italia/diario-dell-innovazione/amatrice_accumoli_sisma_24_agosto_ricostruzione_sviluppo_terremoto-2050867/post/2017-08-16/) l'avvio il prossimo 24 agosto di un progetto di monitoraggio delle reazioni ai processi di ricostruz

[2017-08-20 05:29] nelsonmau opened #54 "Aggiungere CityRumors - tag terremoto"
ecco la pagina http://www.cityrumors.it/notizie/terremoto-centro-italia

[2017-08-20 05:29] nelsonmau commented on #54
@cristigalas avevi mai intercettato questo sito?

[2017-08-20 09:13] cristigalas commented on #54
@nelsonmau sì sì è una buona fonte con notizie locali su Abruzzo...

[2017-08-24 05:43] nelsonmau opened #55 "Includere tool "Com'era / Com'è""
ciao gente,

avrete visto che @cesaregerbino ha creato [questo bel tool](https://cesaregerbino.wordpress.com/2017/08/06/street-image-compare-confrontare-google-street-view-e-mapillary-nella-stessa-pagina-web/amp/) che permette di confrontare i territori tramite immagini.

Direi che è uno strumento ottimo per il monitoraggio civico dei cittadini e mi sembra fondamentale poterlo includere in Ricostr

[2017-08-24 05:46] nelsonmau commented on #54
inserito!

[2017-08-24 05:46] #54 closed, assigned to nobody

[2017-08-24 05:46] nelsonmau commented on #53
inserito!

[2017-08-24 05:50] nelsonmau commented on #51
fatto, ho messo logo delle stesse dimensione nel setup, così non resiza più

[2017-08-24 05:50] #51 closed, assigned to nobody

[2017-08-24 05:55] nelsonmau commented on #53
mm come non detto, non ho trovato l'url del feed, non sembra ricostrubile copiando lo schema degli altri feed del sito..

lascio la issue pending, eventualmente la risolva qualche benefattore/trice :-)

[2017-08-28 09:55] jenkin opened #56 "Path informati/ e monitora/"
La sezione "Cerca" e le relative sotto sezioni sono attualmente sotto "Monitora", ma l'url riporta un path con informati/ (es. /cosa-puoi-fare/**informati**/cerca/).

[2017-09-01 13:25] nelsonmau opened #57 "Footer / aggiungere logo Banca Etica"
accanto ad ActionAid

http://www.bancaetica.it/sites/bancaetica.it/themes/be/images/logo-bancaetica.svg

[2017-09-01 18:27] lorenzoperone commented on #57
Il logo di Banca Etica c'è già assieme a quello di Wikimedia Italia nella
sezione Chi ci sostiene (credo) perché vorresti metterlo anche qui? Se
troviamo altri donatori sarà difficile inserirli tutti nel footer.
Io lascerei sono ActionAid che è partner "operativo" (ora) nell'iniziativa.
Oppure è una questione strategica?

Lorenzo Perone
Medium: https://medium.com/@lorenzo_perone
Twitter: @lorenzo_

[2017-09-03 06:42] nelsonmau commented on #57
ciao @lorenzoperone,

Lo inserirei nel footer in quanto soggetto finanziatore di RicostruzioneTrasparente, come ActionAid e Google e così farei per eventuali altri finanziatori.

In sintesi metterei molto bene in evidenza chi ci finanzia, per varie ragioni:
- beneficio in "visibilità" per i finanziatori"
- trasparenza per noi (diciamo apertamente chi mette la benzina)
- crescita di credibilità per

[2017-09-13 10:01] lorenzoperone opened #58 "Pagina newsletter non funzionante"
![schermata 2017-09-13 alle 12 00 23](https://user-images.githubusercontent.com/5204799/30371567-45c1a650-987b-11e7-89dd-78e04262744d.png)

[2017-09-14 14:14] jenkin commented on #58
Per qualche motivo si era disinstallato il [plugin](https://it.wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/), ho risolto...

[2017-09-14 14:14] #58 closed, assigned to nobody

[2017-09-19 09:23] giuragu opened #59 "Inserire link al form di segnalazione e richiesta dataset TCI sul sito RT"
Si tratta della pagina [http://terremotocentroitalia.info/dataset/](http://terremotocentroitalia.info/dataset/)

[2017-09-21 11:51] jenkin opened #60 "Verifica e aggiornamento delle tabelle del foglio "Pagine sito""
Si tratta di [questo Google Spreadsheet pubblico](https://docs.google.com/spreadsheets/d/e/2PACX-1vSAMQQGWZib-urJ5GpJ6kQn9K4MD1f_SrDJzGprUUudco8B0Ju9Rj6wEAt5aSgw0J5ZGg6ELryTOIcO/pubhtml).

Contiene queste tabelle, ognuna corrisponde a una pagina del sito:

- [iniziative-locali](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/iniziative-locali/)
- [eventi](http://ricostruzionetrasparent

[2017-09-21 16:38] jenkin commented on #60
Ho aggiornato la [pagina delle fonti monitorate](http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/fonti/) inserendo nella tabella tutti i comuni del cratere, indicando quali sono monitorati e quali no e aggiungendo un paio di colonne: link all'albo pretorio e responsabile del monitoraggio (al momento RT e SemplicePA).

Ho anche aggiunto un paio di valori possibili per la colonna `

[2017-09-23 07:34] giuragu commented on #59
Inserito il link che rimanda al form su http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/documentazione/ e su http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/cerca/catalogo-open-data/

[2017-09-23 07:34] #59 closed, assigned to nobody

[2017-09-23 07:52] giuragu commented on #56
Ciao @jenkin, adesso il path è corretto (es. [/cosa-puoi-fare/monitora/cerca/](http://ricostruzionetrasparente.it/cosa-puoi-fare/monitora/cerca/)). Chiudo

[2017-09-23 07:52] #56 closed, assigned to nobody

[2017-09-23 07:58] giuragu opened #61 "Aggiungere fase "richiesta dati" nella procedura di gestione del catalogo"
Oltre alla segnalazione è possibile richiedere dati. Pertanto va aggiornata la procedura inserendo questa fase...

[2017-09-27 08:06] lorenzoperone commented on #60
@jenkin se tu curi l'aggiornamento di:
- fonti monitorate
io curo quello di:
- eventi
- sostenitori (non caricato sul sito)
- rassegna stampa
@giuragu tu potresti prendere il carico:
- azioni
- trasperenza-advocacy
possiamo aggiungere @chiccap con editor di questo repo per chiederle di aggiornare:
- inziative locali?

[2017-09-27 08:30] jenkin commented on #60
@lorenzoperone io la mia parte l'ho già fatta, le fonti monitorate sono aggiornate con tutti i comuni... :)

[2017-09-27 08:39] lorenzoperone commented on #60
@jenkin ho visto :)
ho inserito Chiara (@chiccap) tra i contributori, sentiamo @giuragu

[2017-09-27 08:41] giuragu commented on #60
Ciao,
ok @lorenzoperone e @jenkin. Prendo io in carico azioni e trasparenza advocacy.

[2017-09-27 11:36] lorenzoperone opened #62 "/progetto/trasparenza/ filtro non funzionante"
Provo a filtrare su AZIONE SU => Commissario...
e invece che visualizzare l'azione il risultato è nullo

[2017-09-30 06:51] giuragu commented on #60
Per quanto riguarda le azioni quanto presente in [partecipa](http://partecipa.ricostruzionetrasparente.it/c/actions) (sia concluso che aperto) corrisponde a quanto presente sulla relativa pagina del sito [azioni](http://ricostruzionetrasparente.it/progetto/azioni/). Anche azioni risulta quindi aggiornato.

[2017-09-30 06:54] giuragu commented on #60
Grazie @lorenzoperone  per aver aggiornato foglio trasparenza-advocacy. Anche qui la [pagina del sito ](http://ricostruzionetrasparente.it/progetto/trasparenza/)anche per me risulta aggiornata

[2017-10-05 11:12] lorenzoperone commented on #60
@chiccap potresti aggiornare la tabella iniziative-locali?

[2017-10-10 12:52] lorenzoperone opened #63 "Pagina newsletter rotta"
http://ricostruzionetrasparente.it/newsletter/

[2017-10-29 08:03] giuragu opened #64 "Pagina Iniziative da modificare in Realtà del territorio"
Dopo un confronto con @chiccap  e Sara si valuta di rinominare le "[iniziative](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/iniziative-locali/)"in "realtà del territorio" perché più coerente con il contenuto

[2017-11-07 16:06] giuragu commented on #64
La pagina ora è "[realtà del territorio](http://ricostruzionetrasparente.it/cosa-puoi-fare/partecipa/realta-del-territorio/)"

[2017-11-07 16:06] #64 closed, assigned to giuragu

[2017-11-15 12:23] lorenzoperone opened #65 "Cancellare vecchie categorie nel foglio iniziative-locali"
Cancellare vecchie categorie nel foglio [iniziative-locali ](https://docs.google.com/spreadsheets/d/1S7Pe8oOsrtoRpV3665Y7YHc_gRQjCqBGlGIAbkk4rPU/edit?pli=1#gid=1833270497)

[2017-11-15 12:25] lorenzoperone opened #66 "Cercare nuove icone per la mappa dei comitati"
Su come utilizzarle vediamo insieme, sulla scelta preferirei un gusto più raffinato del mio :)

[2017-11-15 12:26] lorenzoperone opened #67 "Rivedere l'organizzazione in home page di partecipa"

[2017-11-15 12:31] lorenzoperone opened #68 "Creare un form che alimenta una mappa degli eventi creati dalle associazioni locali"
Nella pagina sul sito di RT dovrebbe esserci un pulsante, magari accanto a quello che abbiamo ora che rimanda all'elenco degli eventi a cui abbiamo partecipato come RT, che porta alla pagina che potrebbe contenere:
- la mappa
- un pulsante per inserire un nuovo evento attraverso un form
- un indirizzo email per segnalare qualcosa in relazione ad un evento (modifiche, ecc.)
- un elenco categorizzat

[2017-11-15 12:33] lorenzoperone opened #69 "Inserire indirizzo email per chiedere variazioni alla mappa dei comitati"
Se sei d'accordo @chiccap possiamo utilizzare un indirizzo a cui risponde la redazione di TCI che carica le le associazioni segnalate mediante il form su TCI.

[2017-11-15 21:35] aborruso commented on #68
Ciao @lorenzoperone e @chiccap  ecco una prima versione del form: https://enketo.ona.io/x/#Yjkf

Ho fatto per il momento una scelta dei campi personale, ma prendetela come bozza.

Tutto finirà in un [foglio elettronico](https://docs.google.com/spreadsheets/d/1YcNAGTL-2teFVW2TVfFAUHAGkIvCQNvTYhaPfImLDoA/edit?usp=sharing), in cui poi ci sarà da validare. Tutto ciò che verrà validato, finirà automati

[2017-11-17 09:59] lorenzoperone commented on #68
Ciao Andrea,
mi sembra ottimo.
Sentiamo che ne pensa Chiara.
l.

[2017-11-17 13:13] chiccap commented on #68
Intro: Segnala un evento sul tuo territorio e caricalo sulla mappa.

[2017-11-17 13:20] chiccap commented on #66
- EMERGENZA: punto esclamativo
- INFORMAZIONE: la i di informazione
- PROMOZIONE CULTURALE E SOCIALE: maschere teatrali
- SCUOLA: due bambini
- RICOSTRUZIONE: una casetta
- SERVIZIO PSICOPEDAGOGICO: due omini che si tengono per mano
- TURISMO: omino con lo zaino

[2017-11-17 13:26] chiccap commented on #69
Secondo me non ha molto senso. Inseriamo un indirizzo in cui poi la redazione di RT modificherà la mappa su RT...  La mappa non è su RT? Perchè le persone dovrebbero segnalare una modifica tramite form TCI?
Forse ho capito male io?

[2017-11-17 13:49] lorenzoperone commented on #69
Ciao Chiara,
da quello che avevo capito nella call le associazioni segnalano la propria
"esistenza" tramite un form su TCI, quindi la soluzione che proponevo era
coerente con questo.
Se ho capito male e la segnalazione avviene in modo diverso cambia
naturalmente il quadro.

[2017-11-17 14:07] Saraveg commented on #69
hola! mi sembra che ci eravamo detti che lì dove esiste uno strumento già implementato da TCI (es. eventi) non andavamo a replicare ma a integrare. Questo però è uno strumento che esiste solo su RT quindi ha poco senso farlo ricadere su redazione TCI, per di più che ci siamo noi che ci impegniamo a aggiornare mappatura realtà del territorio. then, la terrei interna e "a carico" AA

[2017-11-17 14:26] chiccap commented on #65
Mi sembra ok!
Non è la issue giusta per segnalarlo ma sulla descrizione dell'iniziativa locale aggiungerei la regione perchè dalla mappa non si capisce immediatamente (o perlomeno chi non conosce le zone non lo capisce).

[2017-11-17 14:39] aborruso commented on #69
Ciao @chiccap, @Saraveg @lorenzoperone  faccio un recap per capire se ho capito.

Il form che ho messo in piedi, produce una tabella, che viene trasformata automaticamente in una mappa. Pensavo di aggiungere semplicemente un controllo per fare in modo che vada in mappa ciò che è "verificato". La verifica la immaginavo light, senza telefonate o email, ma dopo aver fatto una rapida valutazione di se

[2017-11-17 17:44] lorenzoperone commented on #65
Ok, per questo ci deve aiutare Andrea

[2017-11-18 12:10] lorenzoperone commented on #65
Ok, mi sono sentito con Andrea, possiamo inserire in mappa le regioni così da rendere immediatamente evidente la cosa.

[2017-11-20 09:56] aborruso commented on #66
@lorenzoperone  solo come appunto: inserisci i nomi dei file che hai scelto, nella colonna `URLicone` che trovi [qui](https://docs.google.com/spreadsheets/d/1S7Pe8oOsrtoRpV3665Y7YHc_gRQjCqBGlGIAbkk4rPU/edit?pli=1#gid=1509653469).

Grazie

[2017-11-20 09:58] chiccap commented on #65
Perfetto grazie!!

[2017-11-20 10:11] lorenzoperone commented on #66
fatto, le icone sono comunque in questa cartella
https://drive.google.com/open?id=13dD5Ir6hUY4z6mP3J3dznOja_aVXR2g0

[2017-11-20 10:17] chiccap commented on #69
Ottima la tabella che va in automatico in mappa e anche il controllo "light" per inserire informazioni verificate.

Quello di cui abbiamo parlato in call è la possibilità di inserire un'opzione che permetta agli utenti del sito di modificare/aggiungere le informazioni riguardo ai comitati inserite da noi o proprio di aggiungere un nuovo comitato. In questo caso comunque TCI non c'entra niente prop

[2017-11-20 10:46] aborruso commented on #69
@chiccap @lorenzoperone ho fatto confusione, scusatemi

Il controllo "light" per il momento è attivo per la mappa degli eventi.

Per i comitati per il momento lascerei così, almeno finché non pubblichiamo mappa e form degli eventi

[2017-11-20 10:47] aborruso commented on #68
@chiccap appena puoi mi dai un check su [questo](https://docs.google.com/document/d/1jFJG8hDIqBElQVHI-k0wA6FxfMH9edM8yfDGvDnBWVA/edit?pli=1#heading=h.o75ndleq8pf)?

Grazie

[2017-11-20 10:49] aborruso commented on #66
Ok, le icone sono in mappa

Chiedo a @lorenzoperone di fare un check sui colori di sfondo e poi chiudiamo

[2017-11-20 10:55] lorenzoperone commented on #66
Mi sembrano belli, chiudo!

[2017-11-20 10:55] #66 closed, assigned to lorenzoperone, chiccap

[2017-11-21 12:06] chiccap commented on #68
Il meccanismo è molto chiaro. Ho però il dubbio che questo form eventi costituisca un'esatta copia di quello presente in tci. Su RT credo sia opportuno inserire solo eventi legati alla ricostruzione (non ad es. sagra del vino) altrimenti si rischia di perdere il focus.
La mia è: inserire form specifico per eventi ricostruzione su RT + parlare con TCI e se pervengono nel form eventi ricostruzione s

[2017-11-22 19:54] aborruso opened #70 "Pagina newsletter"
La [pagina](http://ricostruzionetrasparente.it/newsletter/) sembra non funzionare

[2017-11-23 09:09] jenkin commented on #70
Era saltato il plugin https://it.wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/. L'ho rimosso e reinstallato...

[2017-11-23 09:09] #70 closed, assigned to jenkin

[2018-01-11 10:37] #63 closed, assigned to jenkin

[2018-02-05 18:27] lorenzoperone opened #71 "Partecipa non carica pdf di 24 mega"
Ho alzato la soglia a 30 mega ma niente, per il test si può usare [questo](https://drive.google.com/file/d/16o8xnfW4EUGB8u898uBJ2DdKTcQedHV_/view?usp=sharing) file

[2019-04-06 13:00] lorenzoperone opened #72 "Pagine news rotte"
Queste pagine mi sembra non funzionino:

* http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/news/istituzioni/
* http://ricostruzionetrasparente.it/cosa-puoi-fare/informati/news/stampa/

[2019-04-06 13:04] lorenzoperone opened #73 "Mettere il sito in https"

[2019-04-10 06:19] jenkin commented on #73
Se non ricordo male c'è da perderci un po' di tempo, perché molte risorse esterne sono caricate in http, quindi bisogna controllare tutte le pagine e aggiornarle opportunamente.

Da fare, ma essere in http non è grave, si tratta di un sito che non richiede mai informazioni dall'utente.

[2022-02-03 05:16] nelsonmau opened #74 "Il sito di Ricostruzione Trasparente è rotto"
http://ricostruzionetrasparente.it/

si vede così
![image](https://user-images.githubusercontent.com/1769578/152285453-3b4331ae-c451-4743-b3b7-736ba936997e.png)

x @aborruso